/*Heigth 100%*/
html{
	overflow-x: hidden;
}

html, body{
	height: 100%;
}

.bloco{
	min-height: 100%;
	padding-top: 94px;
}

/*CORES*/
.azul_claro_f{
	color:#51A7B0;
}

.azul_escuro_f{
	color:#26488B;
}

.azul_bg{
	background:#51A7B0;
}

.vermelho_bg{
	background: #bd4a07;
}

/*HOME*/
.home{
	animation: mudarbg 30s infinite;
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.home .area_banner h2{
	font-weight: 900;
}

/*Logo*/
.logo_img{
	width: 70%;
}

.area_banner{
	color: white;
}

#sessao_botoes_banner button{
	color: white;
}

#sessao-ajuda .container{
	padding-top: 8%;
}

#triangulo-para-direita {
    border-top: 0px solid transparent;
    border-bottom: 684px solid transparent;
    border-left: 600px solid #51A7B0;
    position: absolute;
}

#img-ajuda{
	width: 120%;
}

.fundo-redondo{
	background: aliceblue;
    border-radius: 220px;
    width: 430px;
	height: 430px;
	display: flex;
}

#servicos .itens{
	border-radius: 30px;
    width: 100%;
    height: 260px;
    background: #51a7b024;
}

#servicos .itens img{
	width: 100%;
}

#servicos .container{
	padding-top: 3%;
}

#unidades{
	padding-top: 4%;
}

#unidades .fundo{
	background: #178f6deb;
}

#unidades .titulo{
	font-weight: 900;
	font-size: 40px;
}

#triangulo-para-esquerda {
	width: 100%;
    border-bottom: 0px solid transparent;
    border-top: 253px solid transparent;
    border-right: 253px solid #51A7B0;
    position: absolute;
}

/* ANIMAÇÃO HOME */
@keyframes mudarbg{
	40%{ background-image: url('../img/bg2.jpg'); }
	80%{ background-image: url('../img/bg3.jpg'); }
	100%{ background-image: url('../img/bg.jpg'); }
}

/*MEDIA*/
@media only screen and (max-width: 480px) {
 
}

@media only screen and (min-width: 601px) {
	.banner {
		padding-top: 4.5rem;
	}
	.banner h2{
		font-size: 3.5rem;
	}
}

@media only screen and (min-width: 993px) {
	.banner {
		padding-top: 5rem;
	}
	.banner h2{
		font-size: 4.5rem;
	}
}